<nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand">
            <figure class="logo pointer m-0">
                <img class="img-fluid pointer" src="./images/crm.png" alt="" [routerLink]="['/home']">
            </figure>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto list-unstyled">
                <li class="nav-item">
                    <a class="nav-link text-primary nav-link-custom" href="#">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary nav-link-custom" href="new-user">
                        Nuevo usuario
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
