/* Cuando el mouse pasa sobre la imagen, el desenfoque afecta al body */
.card img:hover {
    cursor: pointer;
  }
  
  .card img:hover ~ body {
    filter: blur(5px); /* Aplica el desenfoque al body */
    pointer-events: none; /* Evita que la página sea interactiva mientras está borroso */
    transition: filter 0.3s ease-in-out; /* Suaviza la transición del desenfoque */
  }
  
  /* Asegúrate de que la transición también sea suave al quitar el blur */
  body {
    transition: filter 0.3s ease-in-out;
  }